# Entorno virtual
.venv/
venv/

# Variables sensibles
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Streamlit
.streamlit/

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp 

#Repositorios y workspaces temporales analizados por NoRepeat
workspaces/